@use '../../global' as *;

.u-hidden-sp {
  @include sp {
    display: none;
  }
}

.u-hidden-tb {
  @include tb {
    display: none;
  }
}

.u-hidden-pc {
  @include pc {
    display: none;
  }
}