@use '../../global' as *;

.u-inner {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;

  @include pc {
    max-width: 1200px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.u-hidden-mobile {
  @include sp {
    display: none;
  }
}

.u-hidden-tablet {
  @include pc {
    display: none;
  }
}
