@use '../../variables' as *;

.p-about {
  &__section {
    margin-bottom: 60px;

    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 80px;
    }
  }

  &__button {
    margin-top: 30px;

    @media (min-width: $breakpoint-tablet) {
      margin-top: 60px;
    }
  }

  &__content {
    line-height: 1.8;

    @media (min-width: $breakpoint-tablet) {
      font-size: 16px;
    }
  }
}
