@use '../../global' as *;

.p-contact {
  &__section {
    margin-bottom: 60px;

    @include pc {
      margin-bottom: 80px;
    }
  }

  &__form-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    @include pc {
      margin-top: 60px;
    }
  }

  &__content {
    text-align: center;
    margin-bottom: 30px;

    @include pc {
      margin-bottom: 40px;
    }
  }
}
