@use '../../global' as *;

.p-home {
  &__section {
    margin-bottom: 60px;

    @include pc {
      margin-bottom: 80px;
    }
  }

  &__button {
    margin-top: 20px;

    @include pc {
      margin-top: 40px;
    }
  }

  &__banner {
    margin-top: 20px;

    @include pc {
      margin-top: 40px;
    }
  }

  &__content {
    text-align: center;

    @include pc {
      text-align: left;
    }
  }
}
