.header {
  position: sticky;
  top: 0;
  left: 0;
  background: #e0e0e0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;

  @media (min-width: 768px){
    padding: 20px;
  }
}

.header__logo {
  display: block;

  @media (max-width: 767px){
    width: 30vw;
  }

  img {
    width: 100%;
  }
}