.home__button {
  margin-top: 20px;

  @media (min-width: 768px) {
    margin-top: 40px;
  }
}

.home__banner {
  margin-top: 20px;

  @media (min-width: 768px) {
    margin-top: 40px;
  }
}