.l-header {
  position: sticky;
  top: 0;
  left: 0;
  background: #e0e0e0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;

  @media (min-width: $breakpoint-tablet) {
    padding: 20px;
  }

  &__logo {
    display: block;

    @media (max-width: #{$breakpoint-tablet - 1px}) {
      width: 30vw;
    }

    img {
      width: 100%;
    }
  }
}
