@use '../foundation/variables' as *;

.l-navigation {
  &__list {
    display: flex;
    gap: 15px;
    padding: 5px 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    margin: 0;
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s;
    font-size: 12px;
    display: block;
    padding: 5px 10px;

    @media (min-width: $breakpoint-tablet) {
      font-size: 14px;
    }

    @media (hover: hover) {
      &:hover {
        color: #007bff;
      }
    }

    &--current {
      color: #007bff;
      font-weight: $weight-bold;
    }
  }
}
