@use '../../variables' as *;

.c-button {
  display: inline-block;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: $weight-bold;
  color: #fff;
  background: $color-black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  text-align: center;
  text-decoration: none;

  @media (hover: hover) {
    &:hover {
      background: $color-gray, #999;
    }
  }

  &:focus {
    outline: 2px solid $color-black;
    outline-offset: 2px;
  }

  &--secondary {
    background: transparent;
    color: $color-black;
    border: 2px solid $color-black;

    @media (hover: hover) {
      &:hover {
        background: $color-black;
        color: #fff;
      }
    }
  }

  &--large {
    padding: 15px 40px;
    font-size: 16px;
  }

  &--small {
    padding: 5px 20px;
    font-size: 12px;
  }
}
