$color-font-base: #1f1f1f !default;
$color-bg-main: #fdfdfd !default;
$color-accent-color: #fbca5a !default;
$color-black: #1f1f1f !default;

$gradient-black-black: linear-gradient(
  0deg,
  rgba(20, 32, 36, 1) 0%,
  rgba(39, 55, 62, 1) 100%
) !default;

$select: #fbca5a !default;

$weight-base: 400 !default;

$weight-light: 300 !default;
$weight-bold: 700 !default;

$font-source: 'Source Sans Pro', sans-serif !default;

$transition-basic: 0.5s cubic-bezier(0, 0.55, 0.45, 1) !default;

$breakpoint-tablet: 768px !default;
$breakpoint-desktop: 1024px !default;