.mainVisual {
  position: relative;
  width: 100%;
  height: 400px;
  background: #bbb;
  margin-bottom: 60px;
}

.mainVisual__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.mainVisual__page {
  font-size: 30px;
  font-weight: var(--weight-bold);
}

.mainVisual__lead {
  margin-top: 5px;
  font-size: 20px;
}