@import './_fonts.css';
@import './_layout.css';
@import './_util.css';
@import './_variables.css';

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg-main);
  margin: 0;
  font-family: 'YakuHanJP', 'Noto Sans JP', sans-serif;
  font-size: 14px;
  font-weight: var(--weight-base);
  line-height: 1.65;
  color: var(--color-font-base);
  letter-spacing: 0.06em;
  /* font-feature-settings: 'palt'; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  @media (min-width: 768px){
    font-size: 16px;
  }
}


::selection {
  color: var(--select);
}

img {
  max-width: fit-content;
  width: 100%;
  height: auto;
}